
/*Estilos globais ---------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Comfortaa, sans-serif;
}

body {
    background-image: url("./image2.jpg");
    background-size: cover;
    background-position-y:-200px ;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
/*End Estilos Globais -----------------*/

/*Container -------------*/

.container {
    /*border: solid;*/
    width: 60%;
    height: 65%;
    position: absolute;
    left: 40%;
    top:40%;
    transform: translate(-50%,-50%);
}

/*end Container -------------------*/

/*Header ---------------------------*/

.titulo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo p {
    font-size: 30px;
    font-weight: 500;
}

.titulo h1 {
    font-size: 60px;
    font-weight: bold;
}


/*end Header ----------------------*/

/*Divs com info---------------------*/

.time-info {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.date-time {
    
    text-align: center;
    width: 150px;
    height: 160px;
    margin-left: 3%;
    margin-right: 3%;
    
    
}

.label {
    height: 50px;
    width: 110px;
    /*border: solid;*/
    position: absolute;
    top: 110px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #D4CBB3;
    border-end-end-radius:10px;
    
}

.value {
    
    
    height: 110px;
    width: 110px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-weight: bold;
    background: #D1A7A0;
    color: #D2E0BF;
    border-start-start-radius:10px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.151);

}

/*end Divs com info----------------*/

/*Responsividade------------------------*/

@media (max-width: 480px){
    body {
        background: black;
        background-image: url("image3.jpg");
        background-size: cover;
        background-position-y:50px ;
        background-repeat: no-repeat;
        width:100%;
        height:100%;
        
    }

    
    .container {
    width: 60%;
    height: 65%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: white;
    }

    .titulo p {
    font-size: 25px;
    font-weight: 500;
    }

    .titulo h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    }

    .value {
        width: 70px;
        height: 75px;
        margin: 0;
        font-size: 40px;
        margin-top: 40px;
    }

    .label {
        width: 70px;
        top: 100px;
        height: 35px;
        margin: 0;
    }

    .date-time {
        width: 70px;
    }

    .time-info {
        justify-content: center;
    }

    .titulo {
        border: solid;
        top: -45px;
    }

   

}